<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AITopStaff - Marketplace de Bots</title>
    <link rel="stylesheet" href="../Styles/styles.css">
    <link rel="icon" href="../images/icon.jpg" />
</head>
<body>
    <header>
        <a href="#">
            <img src="../images/LOGO-AITOPSTAFF.webp" alt="Logo de la empresa" width="100" height="100">
        </a>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Existing Bots</a></li>
                <li><a href="#">Create Your Own Bot</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Sign In</a></li>
                <li><a href="#">Sign Up</a></li>
                <li><a href="#">Get a Demo</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="messageMain">
            <h2>Welcome to AITopStaff</h2>
            <!-- <p class="message" id="message"></p> -->
        </section>
        <div class="carousel-container">
            <div class="carousel">
                <div class="carousel-item">
                <div class="message">Unlock the Power of AI with AITopStaff</div>
                </div>
                <div class="carousel-item">
                <div class="message">Transform Your Business with Specialized AI Professionals</div>
                </div>
                <div class="carousel-item">
                    <div class="message">Where AI Excellence Meets Rapid Learning</div>
                </div>
                <div class="carousel-item">
                    <div class="message">Discover the Future of Work with AITopStaff</div>
                </div>
                <div class="carousel-item">
                    <div class="message">Elevate Your Team with Exceptional AI Talent</div>
                </div>
                <div class="carousel-item">
                    <div class="message">AI Solutions Tailored to Your Business Needs</div>
                </div>
                <div class="carousel-item">
                    <div class="message">Experience Seamless Integration of AI Technologies</div>
                </div>
                <div class="carousel-item">
                    <div class="message">Unlock New Possibilities with AITopStaff's AI Workforce</div>
                </div>
                <div class="carousel-item">
                    <div class="message">Empower Your Team with Scalable AI Solutions</div>
                </div>
                <div class="carousel-item">
                    <div class="message">Innovate and Thrive with AITopStaff's AI Expertise</div>
                </div>
            </div>
            <div class="circles"></div>
        </div>
        
        <!-- <p class="message">AI TopStaff: Where Specialized AI Professionals Excel. Rapid Learning, Exceptional Performance, Effortless Scalability. Transforming Businesses by Integrating AI into the Workforce.</p> -->
        <div class="video-container">
            <section class="video">
                <img src="../images/create_bot.jpeg" alt="Descripción de la imagen" class="image">
                <button class="btn1">Professional bots available for use.</button>
                <!-- <p>Professional bots available for use.</p> -->
            </section>
            <section class="video">
                <iframe width="640" height="360" src="https://www.youtube.com/embed/RpJN1QFEDqA?start=10" frameborder="0" allowfullscreen></iframe>
                <button class="btn2">Create your own bot according to your expertise.</button>
                <!-- <p>Create your own bot according to your expertise.</p> -->
            </section>
        </div>
    </main>
    <footer>
        <!-- <div class="contact-info">
            <p>Email: andres@ai-twin.io</p>
            <p>Address: 36th Street No. 128-321, Via Jamundi, Cali - Colombia</p>
            <p>Help/FAQ</p>  
            <p>Contact</p>  
        </div>
        <div class="social-links">
            
        </div> -->
        <div class="image-container">
            <img src="../images/header.png" alt="Imagen a pantalla completa">
        </div>
    </footer>
    <!-- Script de JavaScript -->
    <script src="../Scripts/script.js"></script>
</body>
</html>
